<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login with:</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid text-center">
      <div class="span2"><%= link_to image_tag('login/Facebook_icon.jpg', :size => '48x48'), '/auth/facebook' %></br><p>Facebook</p></div>
      <div class="span2"><%= link_to image_tag('login/TwitterIcon.jpg', :size => '48x48'), '/auth/twitter' %></br><p>Twitter</p></div>
      <div class="span2">
        <%= form_tag sign_in_path, :remote => :true do %>
        <div class="control-group">
          <%= label_tag :email, 'Email', :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag :email, params[:email], :id => "inputEmail" %>
          </div>
        </div>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag "Login" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
